nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 2.5rem;
}
nav .logo {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  cursor: pointer;
}
nav form {
}
nav input {
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  font-family: inherit;
  outline: none;
  border: none;
  border-radius: 5rem;
  background-color: var(--secondary-background);
  color: var(--primary-font);
}

.nav-holder {
  display: contents;
}
nav input:focus {
  border: 2px solid var(--primary-font);
}

nav button {
  font-family: inherit;
  padding: 1rem 1.5rem;
  background-color: var(--special-color);
  border: 1px solid black;
  border-radius: 4rem;
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
  .nav-holder {
    display: flex;
    gap: 1rem;
    white-space: nowrap;
    width: 100%;
    margin: 1rem;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  nav input {
    width: 90%;
  }
}
