.current-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  border-radius: 2.5rem;
  width: 25%;
  height: 100%;
}
.current-div hr {
  margin-top: 0.5rem;
  width: -webkit-fill-available;
  background-color: var(--secondary-font);
}
.current-div p {
  margin-bottom: 0.5rem;
}
.current-div .dd {
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 1.5rem;
}
.current-div .current-info {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.current-div .current-info h1 {
  font-size: 6rem;
  font-weight: 400;
}
.current-div .current-info .img-box {
  width: 12rem;
}
.current-div .current-info .img-box img {
  width: 100%;
}
